body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.container
{
    max-width: 1200px;
    background-color: #D3D3D3;
}

.validator
{
    color: Red;
}

.MainHeading
{
    font-family: Arial, sans-serif;
    font-size: 45pt;
    font-weight: bold;
    font-style: italic;
    color: Blue;
}

.Subheading
{
    font-size: x-large;
    color: Red;
}

#Footer
{
    text-align: center;
    padding: 20px 0px 20px 0px;
}
