$nav-color1: white;
$nav-color2: black;
$nav-color3: white;

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
    max-width: 1200px;
    padding: 0px;
    background-color: $nav-color3;
}

#header {
    text-align: center;
    padding: 10px;
}

.MainHeading {
    font-family: Arial, sans-serif;
    font-size: 45pt;
    font-weight: bold;
    font-style: italic;
    color: #000099;
}

.Subheading {
    font-size: x-large;
    color: red;
}

.navbar {
    border: 0px;
    border-radius: 0px;
    margin: 0px;
    background-color: $nav-color2;
}

.navbar-default {
  background-color: $nav-color2;
  border-color: $nav-color1;
}

.navbar-default .navbar-brand {
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    font-style: italic;
    color: $nav-color1;
    &:hover {
        color: $nav-color3;
        background-color: transparent;
    }
    &:focus {
        color: $nav-color3;
        background-color: transparent;
    }
}

.navbar-default .navbar-text {
    color: $nav-color1;
}

.navbar-default .navbar-nav > li > a  {
    color: $nav-color1;
    &:hover {
        color: $nav-color2;
        background-color: $nav-color1;
    }
    &:focus {
        color: $nav-color2;
        background-color: $nav-color1;
    }
}

.navbar-default .navbar-toggle {
    border-color: $nav-color1;
    &:hover {
        color: $nav-color3;
    }
    &:focus {
        color: $nav-color3;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $nav-color1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: $nav-color1;
}

.navbar-default .navbar-nav > .open > a {
    color: $nav-color2;
    background-color: $nav-color1;
    &:hover {
        color: $nav-color2;
        background-color: $nav-color1;
    }
    &:focus {
        color: $nav-color2;
        background-color: $nav-color1;
    }
}

.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: $nav-color1;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $nav-color2;
    &:hover {
        color: $nav-color1;
        background-color: $nav-color2;
    }
    &:focus {
        color: $nav-color1;
        background-color: $nav-color2;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $nav-color2;
        &:hover {
            color: $nav-color1;
            background-color: $nav-color2;
        }
        &:focus {
            color: $nav-color1;
            background-color: $nav-color2;
        }
    }
}

#content {
    padding: 25px;
}

th, td {
    padding: 5px;
}

.validator {
    color: $nav-color2;
}

#footer {
    background-color: dimgrey;
    color: white;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
