body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black; }

.container {
  max-width: 1200px;
  padding: 0px;
  background-color: white; }

#header {
  text-align: center;
  padding: 10px; }

.MainHeading {
  font-family: Arial, sans-serif;
  font-size: 45pt;
  font-weight: bold;
  font-style: italic;
  color: #000099; }

.Subheading {
  font-size: x-large;
  color: red; }

.navbar {
  border: 0px;
  border-radius: 0px;
  margin: 0px;
  background-color: black; }

.navbar-default {
  background-color: black;
  border-color: white; }

.navbar-default .navbar-brand {
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: bold;
  font-style: italic;
  color: white; }
  .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent; }
  .navbar-default .navbar-brand:focus {
    color: white;
    background-color: transparent; }

.navbar-default .navbar-text {
  color: white; }

.navbar-default .navbar-nav > li > a {
  color: white; }
  .navbar-default .navbar-nav > li > a:hover {
    color: black;
    background-color: white; }
  .navbar-default .navbar-nav > li > a:focus {
    color: black;
    background-color: white; }

.navbar-default .navbar-toggle {
  border-color: white; }
  .navbar-default .navbar-toggle:hover {
    color: white; }
  .navbar-default .navbar-toggle:focus {
    color: white; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: white; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: white; }

.navbar-default .navbar-nav > .open > a {
  color: black;
  background-color: white; }
  .navbar-default .navbar-nav > .open > a:hover {
    color: black;
    background-color: white; }
  .navbar-default .navbar-nav > .open > a:focus {
    color: black;
    background-color: white; }

.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: white; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: black; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: white;
    background-color: black; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: white;
    background-color: black; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: black; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
      color: white;
      background-color: black; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: white;
      background-color: black; } }

#content {
  padding: 25px; }

th, td {
  padding: 5px; }

.validator {
  color: black; }

#footer {
  background-color: dimgrey;
  color: white;
  text-align: center;
  padding: 20px 0px 20px 0px; }

